<html>
    <head>
        <title>vinay's blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">kolluvinay Blog</a></h1>
        </div>

        <div>
            <p>published: 15th nov 2019</p>
            <h2><a href="">My first post</a></h2>
            <p>“Tutti hanno bisogno della bellezza così come del pane, di posti per giocare e posti per pregare, dove la natura può curare e dare forza al corpo e all’anima”
            – John Muir.</p>
        </div>

        <div>
            <p>published: 15th nov 2019 </p>
            <h2><a href="">My second post</a></h2>
            <p>"A Roma, volevo far passare l'idea di Roma sotto l'antica Roma. Sono vicino. Ne sono consapevole e mi entusiasma. Immagina di essere in un ingorgo al Colosseo! Roma è il set cinematografico più meraviglioso nel mondo ... Come per molte delle mie idee cinematografiche, è stato ispirato da un sogno "-Federico Fellini, Regista italiano</p>
        </div>
    </body>
</html>